.card_container{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 350px;
    padding: 20px;
    border-radius: 5px;
    border:1px solid rgb(229, 228, 228);

}
.image_container{
    padding: 20px;
    width: 250px;
    height:250px;
    border:1px solid rgb(124, 123, 123);
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 5px;
}
.image01{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}
.user_name{
    color: black;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}
.user_email{
    color: black;
    font-size: 18px;
    margin-top: 10px;
}
